@CHARSET "utf-8";

/*===main-content bet===========*/

#wrap-video h4 {
    font-size: 25px;
    display: inline-block;
    margin: 0;
    height: 30px;
}

#wrap-video .hosted {
    padding: 0;
    float: right;
    display: block;
    height: 30px;
    line-height: 30px;
}

#notice-match {
    text-align: center;
    padding: 5px 0;
}

#notice-match span {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    line-height: 30px;
}

#notice-match .logo-li:before {
    content: url('../imgs/live.png');
    width: 30px;
    height: 30px;
    position: absolute;
    left: -30px;
}

#notice-match .logo-pe:before {
    content: url('../imgs/people-online.png');
    width: 15px;
    height: 14px;
    position: absolute;
    left: -20px;
}


/* /////bet///// */

.bet-coins, .bet-coins-1 {
    width: 90%;
    margin: 0;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

input.bet-in {
    margin: 0;
    height: 35px;
    border-bottom: 1px solid #523334;
}

input.bet-off {
    margin: 0;
    height: 35px;
    border-bottom: 1px solid #523334;
    position: absolute;
    left: 105px;
}

td.bet-team-1 {
    padding: 0;
}

td.bet-team-2 {
    padding: 0;
    display: inline-block;
}

.bet-team-1 td {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#btn-bet-coin {
    position: absolute;
    right: 0;
    top: 0;
    height: 35px;
    line-height: 35px;
    border-radius: 0;
}

#btn-bet-coin-1 {
    display: inline-block;
    left: 0;
    top: 0;
    height: 35px;
    line-height: 35px;
    border-radius: 0;
    left: 0;
    background: #6f6f6f;
    background: -webkit-linear-gradient(bottom, #bbbbbb, #070707);
    background: -o-linear-gradient(top, #6f6f6f, #070707);
    background: -moz-linear-gradient(top, #6f6f6f, #070707);
    background: linear-gradient(to top, #6f6f6f, #070707);
}

span.odds-2 {
    margin-right: 10px;
    font-size: 25px;
    vertical-align: middle;
    display: inline-block;
}

span.odds-1 {
    font-size: 25px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 9px;
}

#btn-bet-coin {
    background: #961823;
    /* For browsers that do not support gradients  */
    background: -webkit-linear-gradient(bottom, #961823, #070707);
    /* For Safari 5.1 to 6.0  */
    background: -o-linear-gradient(top, #961823, #070707);
    /* For Opera 11.1 to 12.0  */
    background: -moz-linear-gradient(top, #961823, #070707);
    /* For Firefox 3.6 to 15  */
    background: linear-gradient(to top, #961823, #070707);
    /* Standard syntax  */
    color: #e6838c;
}


/* =============================Color================================ */

.color-4 {
    color: #f53848;
}

.color-6 {
    color: #e5ab60;
}

.color-7 {
    color: #9f7742;
}


/*=========================================*/

.progress {
    background-color: #082029 !important;
    border-radius: 0 !important;
    height: 36px !important;
    margin-top: 0 !important;
}

.progress-bar {
    background-color: #2c2517;
    position: relative;
}


.line-in {
    position: absolute;
    width: 100%;
    border: 2px solid #ffb141;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.line-out {
    position: absolute;
    width: 100%;
    border: 2px solid #00aeef;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.unlock {
    color: #c2182a;
}

.bulk {
    position: absolute;
    right: -4px;
    background: url(../imgs/bulk.png);
    background-size: 100% 100%;
    width: 7px;
    display: block;
    height: 100%;
    z-index: 3;
}

.progress-bar .money {
    color: #ffc46f;
}

.money {
    line-height: 36px;
    font-size: 18px;
    padding: 0 15px;
    color: #65d5ff;
}
.group-order {
	clear: both;
}
.group-top {
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    padding: 0 30px;
}

.title-order {
    font-size: 24px;
}

.per-order-left {
    float: left;
}

.per-order-right {
    float: right;
}


/* BOX ORDER */
.col-left {
	float: left !important;
}
.col-right {
	float: right !important;
}
.box-order {
	margin-bottom: 20px;
}
.box-order input {
    font-size: 14px;
    margin: 0;
    height: 34px;
    border-bottom: 1px solid #523334 !important;
    box-shadow: none !important;
}

.btn-red, .btn-gray {
    text-decoration: none;
    color: #7b7b7b;
    border: none;
}

.btn-red {
    background: #7c2323;
    width: 70px;
    display: inline-block;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #eae2e2;
    text-transform: uppercase;
    text-decoration: none;
}

button.btn-gray.col.s2 {
    background: #363636;
    color: #998a8a;
}
button.btn-red.col.s2 {
    background: #7c2323;
    color: #eae2e2;
}

.btn-gray {
    background: #363636;
    width: 70px;
    display: inline-block;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #eae2e2;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-change {
    border: none;
    background: none;
    border-radius: 0;
    background: url('../imgs/bg-change.png');
    background-size: 100% 100%;
    width: 120px;
    height: 37px;
    position: relative;
    background-color: transparent !important;
   
}

.btn-change:after {
    content: url('../imgs/arrow-change.png');
    position: absolute;
    right: -24px;
    top: 0;
}
.btn-change:hover:after {
	animation: moveRight .3s ease-in-out .3s infinite alternate;
}

.col-left .btn-change {
	 background: url('../imgs/bg-change-left.png');
	 background-size: 100% 100%;
}
.col-left .btn-change:after {
	 content: url('../imgs/arrow-change-left.png');
	 right: auto;
   top: 0;
   left: -24px;
}
.col-left .btn-change:hover:after {
	animation: moveLeft .3s ease-in-out .3s infinite alternate;
}
@-webkit-keyframes moveRight {
	0% { right: -16px; }
	50% { right: -20px; }
	100% { right: -24px; }
}
@-moz-keyframes moveRight {
	0% { right: -16px; }
	50% { right: -20px; }
	100% { right: -24px; }
}
@-ms-keyframes moveRight {
	0% { right: -16px; }
	50% { right: -20px; }
	100% { right: -24px; }
}
@-o-keyframes moveRight {
	0% { right: -16px; }
	50% { right: -20px; }
	100% { right: -24px; }
}
@keyframes moveRight {
	0% { right: -16px; }
	50% { right: -20px; }
	100% { right: -24px; }
}

@-webkit-keyframes moveLeft {
	0% { left: -16px; }
	50% { left: -20px; }
	100% { left: -24px; }
}
@-moz-keyframes moveLeft {
	0% { left: -16px; }
	50% { left: -20px; }
	100% { left: -24px; }
}
@-ms-keyframes moveLeft {
	0% { left: -16px; }
	50% { left: -20px; }
	100% { left: -24px; }
}
@-o-keyframes moveLeft {
	0% { left: -16px; }
	50% { left: -20px; }
	100% { left: -24px; }
}
@keyframes moveLeft {
	0% { left: -16px; }
	50% { left: -20px; }
	100% { left: -24px; }
}

.expect {
    color: #c08f50;
}

.expect strong, .ordered strong, .group-top strong {
    font-size: 18px;
}

.progress {
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}

.clearfix:after, .clearfix:before {
    display: table;
    content: " ";
    clear:both;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*==========================footer bet main =====================*/
#wap-footer {
    position: relative;
    background: #3a0f13;
    padding: 0;
    margin: 0;
}
.sum-bet-tea1 {
    padding-top: 30px;
    display: block;
    padding-left: 10px;
}
.sum-bet-tea1 p{
    display: inline-block;
}
.sum-bet-tea1 .Expect-tea1{
    float: right;
    padding-right: 10px;
}
.sum-bet-tea2 {
    padding-bottom: 30px;
    display: block;
    padding-left: 10px;
}
.sum-bet-tea2 p{
    display: inline-block;
}
.sum-bet-tea2 .Expect-tea2{
    float: right;
    padding-right: 10px;
}
.color-tea1{
    color: #eda33c;
}
.color-tea2{
    color: #03a8e6;
}


