/* ESPORT CSS v.0.1 */
@font-face {
	font-family: 'Helvetical-Light';
	src: url('../fonts/HelveticaNeue-Light_0.otf');
}

@font-face {
	font-family: 'Helvetical-Medium';
	src: url('../fonts/HelveticaNeue-Medium_0.otf');
}

body {
	background: #101010;
	color: #d5d5d5;
	font-family: "Helvetical-Light";
}

/******* SIDEBAR *******/
.row {
	margin-bottom: 0;
	margin: 0;
}

#sidebar {
	padding-top: 20px;
	background: #3c1010;
	background: -webkit-linear-gradient(top, #3c1010, #080101);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #3c1010, #080101);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, #3c1010, #080101);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom, #3c1010, #080101);
	/* Standard syntax */
	height: 100vh;
}

#sidebar #form-search {
	position: relative;
}

#sidebar #form-search #search-txt {
	padding: 0;
	margin: 0;
	height: 30px;
	border: none;
}

#sidebar #form-search, #sidebar #list-games {
	border-bottom: 1px solid #651d1d;
}

#sidebar #form-search #search-txt:focus, #sidebar #form-search #search-txt:active
	{
	box-shadow: none;
}

#sidebar #form-search #btn-search {
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	border: none;
}

#sidebar #list-games .item-game, #list-golive .item-golive {
	padding: 5px 0;
}

#sidebar #list-games .notice {
	position: relative;
}

#sidebar #list-games .notice:before {
	content: url('../imgs/notice.png');
	width: 15px;
	height: 15px;
	position: absolute;
	top: -15px;
	left: 20px;
}

#sidebar #list-games .item-game a, #list-golive .item-golive a {
	color: #d5d5d5;
}

#sidebar #list-games .item-game a img {
	vertical-align: middle;
	padding-right: 5px;
	max-width: 35px;
}

/* GOLIVE */
#list-golive h2 {
	font-size: 16px;
	font-weight: 600;
}

#list-golive .item-golive a .avt-streamer {
	border-radius: 50%;
	border: 1px solid #696969;
	width: 33px;
	height: 33px;
	margin-right: 5px;
	vertical-align: middle;
	overflow: hidden;
	display: inline-block;
	float: left;
}

#list-golive .item-golive a .avt-streamer img {
	max-width: 35px;
}

#list-golive .item-golive a .streamer {
	display: block;
	margin-top: 5px;
	line-height: 12px;
}

#list-golive .item-golive a .caption {
	color: #796b5c;
	font-size: 12px;
}

#warp-main-content {
	padding-top: 20px;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}

/* USER */
#user-infor {
	display: inline-block;
}

.page-match {
	padding: 0 30px;
}

#wrap-gavatar {
	overflow: hidden;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 5px solid #0f1d23;
	float: left;
}

#user-name {
	color: #cb5c69;
	font-weight: bold;
	line-height: 50px;
	font-size: 20px;
	padding-left: 20px;
}

#wrap-coins {
	position: relative;
	display: inline-block;
}

.coins {
	display: inline-block;
	border: 1px solid #ed1c24;
	border-radius: 20px;
	margin-left: 40px;
	padding: 0 10px;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	min-width: 175px;
}

#btn-buy-coin {
	border-radius: 20px;
	background: #c8c7c6;
	color: #333333;
	position: absolute;
	top: 0;
	right: -35px;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0;
}

#nav-action {
	float: right;
}

#nav-action li {
	display: inline-block;
	width: 40px;
	text-align: center;
}

#nav-action li a {
	background-image: url('../imgs/icons.png');
	width: 26px;
	height: 28px;
	text-indent: -999999px;
	display: inline-block;
}

#nav-action li.action-golive a {
	background-position: -39px 0;
	width: 35px;
}

#nav-action li.action-confirm a {
	background-position: -80px 0;
	width: 35px;
	height: 27px;
}

#nav-action li.action-chat a {
	background-position: -120px 0;
	width: 30px;
}

#nav-action li.action-chat i {
	font-size: 30px;
	vertical-align: middle;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
	cursor: pointer;
}

/* LIST MATCH */
h2.game-name {
	font-size: 30px;
	margin: 0;
	padding: 5px 15px;
	margin-bottom: -5px;
}

.bg-blue {
	background: #112937;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #112937, #0f1315);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #112937, #0f1315);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #112937, #0f1315);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #112937, #0f1315);
	/* Standard syntax */
}

.bg-orange {
	background: #7a4109;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #7a4109, #16120e);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #7a4109, #16120e);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #7a4109, #16120e);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #7a4109, #16120e);
	/* Standard syntax */
}

.bg-red {
	background: #5e161d;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #5e161d, #160f10);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #5e161d, #160f10);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #5e161d, #160f10);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #5e161d, #160f10);
	/* Standard syntax */
}

/* TEAM MATCH */
.list-match {
	margin-top: 70px;
}

.item-match .start-time {
	color: #00b5ff;
	float: left;
	margin-left: 25px;
}

.item-match .team-name1 {
	color: #d5d5d5;
	vertical-align: middle;
}

.item-match .percent {
	color: #ffc683;
	vertical-align: middle;
}

.team-name {
	margin: 15px;
}

.team1 .percent {
	margin-right: 10px;
	vertical-align: middle;
	width: 40px;
	display: inline-block;
}

.team2 .percent {
	margin-left: 10px;
	width: 40px;
	display: inline-block;
}

.item-match:hover {
	cursor: pointer;
}

.item-match .team-logo {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	text-align: center;
	margin: 0 10px;
}

.item-match .team-logo img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	vertical-align: middle;
}

.item-match .hosted, .item-match .btn-host {
	float: right;
	margin-right: 20px;
}

.item-match .btn-host {
	border: 1px solid #00a651;
	border-radius: 20px;
	width: 100px;
	text-align: center;
	color: #ccc;
	line-height: 23px;
	background: transparent;
}

.item-match .btn-host:hover:before {
	background: #00a651;
}

.item-match .hosted {
	color: #ccc;
	background: none;
	margin-right: 45px;
}

strong a {
	color: #fff;
}

.item-match td {
	position: relative;
	width: 50%;
	padding: 5px;
}

.team1 {
	background: -webkit-linear-gradient(right, #533f20, #020202);
	background: -o-linear-gradient(left, #533f20, #020202);
	background: linear-gradient(to left, #533f20, #020202);
	background: -moz-linear-gradient(left, #533f20, #020202);
	text-align: right;
}

.team2 {
	background: -webkit-linear-gradient(left, #0f354b, #01060a);
	background: -o-linear-gradient(right, #0f354b, #01060a);
	background: linear-gradient(to right, #0f354b, #01060a);
	background: -moz-linear-gradient(right, #0f354b, #01060a);
}

.team1:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #090908, #ab680b);
	top: 0;
	left: 0;
}

.team1:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #090908, #ab680b);
	bottom: 0;
	left: 0;
}

.matchs tr:last-child .team1:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #090908, #ab680b);
	bottom: 0;
	left: 0;
}

.team2:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #4895c1, #01060a);
	top: 0;
	left: 0;
}

.team2:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #4895c1, #01060a);
	bottom: 0;
	left: 0;
}

.matchs tr:last-child .team2:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #4895c1, #01060a);
	bottom: 0;
	left: 0;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

/* CSS3 */
.matchs {
	border-collapse: separate;
	border-spacing: 0px 5px;
}

.item-game, .item-golive, .name-game {
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

.item-game:hover, .item-golive:hover {
	margin-left: 10px;
}

.item-game:hover .name-game, .item-golive:hover .streamer {
	color: #ffdb79;
}

.hvr-rectangle-out:before {
	background: #00a651;
	border-radius: 20px;
}

#btn-buy-coin:hover {
	margin-right: -5px;
	-webkit-transition: all .25s ease-in-out 0s;
	-moz-transition: all .25s ease-in-out 0s;
	-ms-transition: all .25s ease-in-out 0s;
	-o-transition: all .25s ease-in-out 0s;
	transition: all .25s ease-in-out 0s;
}

/* BOX CHAT */
#box-chat {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	height: 100%;
	position: fixed;
	right: 0;
	border-top: none;
	background: -webkit-linear-gradient(top, #1d0101, #080101);
	background: -o-linear-gradient(bottom, #1d0101, #080101);
	background: -moz-linear-gradient(bottom, #1d0101, #080101);
	background: linear-gradient(to bottom, #1d0101, #080101);
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
	padding-top: 20px;
}

#box-chat.active {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-ms-transform: translateX(0%);
	-o-transform: translateX(0%);
	transform: translateX(0%);
}

#box-messages {
	height: 60%;
	word-wrap: break-word;
}

#box-control {
	position: absolute;
	bottom: 4%;
	width: 93%;
	background: #080101;
}

.sender {
	color: #f26d7d;
}

#message {
	background: #fff;
	width: 100%;
	border-radius: 20px;
	height: 70px;
	resize: none;
}

#message:focus {
	outline: none;
}

#control {
	padding-top: 10px;
}

#btn-send-message {
	background: #be1e2d;
	border: none;
	border-radius: 20px;
	width: 100px;
	float: right;
}

.emoji:before {
	content: url('../imgs/icon-emoji.png');
	width: 23px;
	height: 23px;
}

/*=============================CSS login============================*/
p#wrap-login {
	position: relative;
	display: inline-block;
}

#login {
	border-radius: 20px;
	background: #c8c7c6;
	color: #333333;
	position: absolute;
	top: -7px;
	left: 65px;
	width: 115px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0;
	background-color: #be1e2d;
	color: #fff;
}

#logout {
	border-radius: 20px;
	background: #c8c7c6;
	color: #333333;
	position: absolute;
	top: -7px;
	left: 190px;
	width: 115px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0;
	background-color: #be1e2d;
	color: #fff;
}

.error-msg {
	display: none;
}

.show-msg {
	display: block;
}

#all-tab .list-match:first-child {
	margin-top: 10px;
}

#next-24h-tab .list-match:first-child {
	margin-top: 10px;
}

#comming-soon-tab .list-match:first-child {
	margin-top: 10px;
}
/*LOADING GIF*/
#wrap-tab {
	position: relative;
}

#load {
	position: absolute;
	z-index: 1000;
	text-align: center;
	background: rgba(0, 0, 0, 0.67);
	width: 100%;
	height: 100%;
	display: none;
}

.link-stream {
	position: relative !important;
	opacity: 1 !important;
	left: 0px !important;
	margin-left: 20px !important;
}

#stream-countdown {
	text-align: center;
	color: red;
	font-weight: bold;
}

/* =======history============== */
.history-title {
	font-size: 30px;
}

.item {
	background: #070707;
}

.item.default {
	background: none;
}

.item td {
	position: relative;
	width: 100%;
	padding: 5px;
}

.item .time {
	position: relative;
	width: 10%;
	padding: 5px;
	text-align: center;
}

.item td.time.yet-started {
	color: #00b5ff;
}

.item .game {
	position: relative;
	width: 10%;
	padding: 5px;
	font-size: 13px
}

.item .game .game-name {
	font-size: 16px;
	text-align: center;
}

.item .match {
	position: relative;
	width: 60%;
	padding: 5px;
	text-align: center;
}

.item .money-bet {
	position: relative;
	width: 10%;
	padding: 5px;
}

.item .status {
	position: relative;
	width: 10%;
	padding: 5px;
	text-align: center;
}
/*=======color============*/
span.color-1 {
	color: #d2a065;
}

.color-2 {
	color: #3477a5;
}

.color-3 {
	color: #548311;
}

.color-5 {
	color: #9f1925;
}
/*===match==*/
.item .team-logo {
	display: inline-block;
	width: 25px;
	overflow: hidden;
	vertical-align: text-bottom;
	border-radius: 50%;
	height: 20px;
	text-align: center;
	margin: 0 10px;
}
/* fix width  */
span.note-team-1 {
	width: 45%;
	display: inline-block;
	text-align: right;
}

span.VS {
	display: inline-block;
	width: 4%;
}

span.note-team-2 {
	display: inline-block;
	width: 45%;
	text-align: left;
}

.logo-history {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
/* =======end history============== */
div#sussgest-link-stream {
	text-align: center;
}

#sussgest-link-stream label {
	color: #fff;
	font-size: 14px;
}