/* move to common-header.jsp
span.flag {
    background: rgba(0, 0, 0, 0) url("/assests/imgs/flags.png") no-repeat scroll 0 0;
    display: inline-block;
    vertical-align: middle;
}
*/

.flag.RU {
    background-position: -36px -204px;
    height: 12px;
    width: 18px;
}
.flag.SA {
    background-position: -18px -204px;
    height: 12px;
    width: 18px;
}
.flag.SB {
    background-position: 0 -204px;
    height: 12px;
    width: 18px;
}
.flag.SC {
    background-position: -162px -192px;
    height: 12px;
    width: 18px;
}
.flag.SD {
    background-position: -144px -192px;
    height: 12px;
    width: 18px;
}
.flag.SE {
    background-position: -126px -192px;
    height: 12px;
    width: 18px;
}
.flag.SG {
    background-position: -108px -192px;
    height: 12px;
    width: 18px;
}
.flag.SI {
    background-position: -90px -192px;
    height: 12px;
    width: 18px;
}
.flag.SK {
    background-position: -72px -192px;
    height: 12px;
    width: 18px;
}
.flag.SL {
    background-position: -54px -192px;
    height: 12px;
    width: 18px;
}
.flag.SM {
    background-position: -36px -192px;
    height: 12px;
    width: 18px;
}
.flag.SO {
    background-position: -18px -192px;
    height: 12px;
    width: 18px;
}
.flag.SV {
    background-position: 0 -192px;
    height: 12px;
    width: 18px;
}
.flag.SY {
    background-position: -162px -180px;
    height: 12px;
    width: 18px;
}
.flag.TC {
    background-position: -144px -180px;
    height: 12px;
    width: 18px;
}
.flag.TG {
    background-position: -126px -180px;
    height: 12px;
    width: 18px;
}
.flag.TH {
    background-position: -108px -180px;
    height: 12px;
    width: 18px;
}
.flag.TN {
    background-position: -90px -180px;
    height: 12px;
    width: 18px;
}
.flag.TO {
    background-position: -72px -180px;
    height: 12px;
    width: 18px;
}
.flag.TR {
    background-position: -54px -180px;
    height: 12px;
    width: 18px;
}
.flag.TT {
    background-position: -36px -180px;
    height: 12px;
    width: 18px;
}
.flag.TV {
    background-position: -18px -180px;
    height: 12px;
    width: 18px;
}
.flag.TW {
    background-position: 0 -180px;
    height: 12px;
    width: 18px;
}
.flag.TZ {
    background-position: -162px -168px;
    height: 12px;
    width: 18px;
}
.flag.UA {
    background-position: -144px -168px;
    height: 12px;
    width: 18px;
}
.flag.UG {
    background-position: -126px -168px;
    height: 12px;
    width: 18px;
}
.flag.UM {
    background-position: -108px -168px;
    height: 12px;
    width: 18px;
}
.flag.UN {
    background-position: -90px -168px;
    height: 12px;
    width: 18px;
}
.flag.US {
    background-position: -72px -168px;
    height: 12px;
    width: 18px;
}
.flag.UY {
    background-position: -54px -168px;
    height: 12px;
    width: 18px;
}
.flag.UZ {
    background-position: -36px -168px;
    height: 12px;
    width: 18px;
}
.flag.VE {
    background-position: -18px -168px;
    height: 12px;
    width: 18px;
}
.flag.WF {
    background-position: 0 -168px;
    height: 12px;
    width: 18px;
}
.flag.VN {
    background-position: -162px -156px;
    height: 12px;
    width: 18px;
}
.flag.WS {
    background-position: -144px -156px;
    height: 12px;
    width: 18px;
}
.flag.XA {
    background-position: -126px -156px;
    height: 12px;
    width: 18px;
}
.flag.ZA {
    background-position: -108px -156px;
    height: 12px;
    width: 18px;
}
.flag.ZW {
    background-position: -90px -156px;
    height: 12px;
    width: 18px;
}
.flag.AD {
    background-position: -72px -156px;
    height: 12px;
    width: 18px;
}
.flag.AE {
    background-position: -54px -156px;
    height: 12px;
    width: 18px;
}
.flag.AF {
    background-position: -36px -156px;
    height: 12px;
    width: 18px;
}
.flag.AL {
    background-position: -18px -156px;
    height: 12px;
    width: 18px;
}
.flag.AM {
    background-position: 0 -156px;
    height: 12px;
    width: 18px;
}
.flag.AO {
    background-position: -162px -144px;
    height: 12px;
    width: 18px;
}
.flag.AQ {
    background-position: -144px -144px;
    height: 12px;
    width: 18px;
}
.flag.AR {
    background-position: -126px -144px;
    height: 12px;
    width: 18px;
}
.flag.AT {
    background-position: -108px -144px;
    height: 12px;
    width: 18px;
}
.flag.AU {
    background-position: -90px -144px;
    height: 12px;
    width: 18px;
}
.flag.AX {
    background-position: -72px -144px;
    height: 12px;
    width: 18px;
}
.flag.AZ {
    background-position: -54px -144px;
    height: 12px;
    width: 18px;
}
.flag.BA {
    background-position: -36px -144px;
    height: 12px;
    width: 18px;
}
.flag.BB {
    background-position: -18px -144px;
    height: 12px;
    width: 18px;
}
.flag.BD {
    background-position: 0 -144px;
    height: 12px;
    width: 18px;
}
.flag.BE {
    background-position: -162px -132px;
    height: 12px;
    width: 18px;
}
.flag.BF {
    background-position: -144px -132px;
    height: 12px;
    width: 18px;
}
.flag.BG {
    background-position: -126px -132px;
    height: 12px;
    width: 18px;
}
.flag.BH {
    background-position: -108px -132px;
    height: 12px;
    width: 18px;
}
.flag.BI {
    background-position: -90px -132px;
    height: 12px;
    width: 18px;
}
.flag.BJ {
    background-position: -72px -132px;
    height: 12px;
    width: 18px;
}
.flag.BN {
    background-position: -54px -132px;
    height: 12px;
    width: 18px;
}
.flag.BO {
    background-position: -36px -132px;
    height: 12px;
    width: 18px;
}
.flag.BR {
    background-position: -18px -132px;
    height: 12px;
    width: 18px;
}
.flag.BS {
    background-position: 0 -132px;
    height: 12px;
    width: 18px;
}
.flag.BT {
    background-position: -162px -120px;
    height: 12px;
    width: 18px;
}
.flag.BW {
    background-position: -144px -120px;
    height: 12px;
    width: 18px;
}
.flag.BY {
    background-position: -126px -120px;
    height: 12px;
    width: 18px;
}
.flag.BZ {
    background-position: -108px -120px;
    height: 12px;
    width: 18px;
}
.flag.CA {
    background-position: -90px -120px;
    height: 12px;
    width: 18px;
}
.flag.CG {
    background-position: -72px -120px;
    height: 12px;
    width: 18px;
}
.flag.CH {
    background-position: -54px -120px;
    height: 12px;
    width: 18px;
}
.flag.CI {
    background-position: -36px -120px;
    height: 12px;
    width: 18px;
}
.flag.CL {
    background-position: -18px -120px;
    height: 12px;
    width: 18px;
}
.flag.CM {
    background-position: 0 -120px;
    height: 12px;
    width: 18px;
}
.flag.CN {
    background-position: -162px -108px;
    height: 12px;
    width: 18px;
}
.flag.CO {
    background-position: -162px -96px;
    height: 12px;
    width: 18px;
}
.flag.CR {
    background-position: -162px -84px;
    height: 12px;
    width: 18px;
}
.flag.CU {
    background-position: -162px -72px;
    height: 12px;
    width: 18px;
}
.flag.CV {
    background-position: -162px -60px;
    height: 12px;
    width: 18px;
}
.flag.CY {
    background-position: -162px -48px;
    height: 12px;
    width: 18px;
}
.flag.CZ {
    background-position: -162px -36px;
    height: 12px;
    width: 18px;
}
.flag.DE {
    background-position: -162px -24px;
    height: 12px;
    width: 18px;
}
.flag.DK {
    background-position: -162px -12px;
    height: 12px;
    width: 18px;
}
.flag.DO {
    background-position: -162px 0;
    height: 12px;
    width: 18px;
}
.flag.DZ {
    background-position: -144px -108px;
    height: 12px;
    width: 18px;
}
.flag.EC {
    background-position: -126px -108px;
    height: 12px;
    width: 18px;
}
.flag.EE {
    background-position: -108px -108px;
    height: 12px;
    width: 18px;
}
.flag.EG {
    background-position: -90px -108px;
    height: 12px;
    width: 18px;
}
.flag.EH {
    background-position: -72px -108px;
    height: 12px;
    width: 18px;
}
.flag.ER {
    background-position: -54px -108px;
    height: 12px;
    width: 18px;
}
.flag.ES {
    background-position: -36px -108px;
    height: 12px;
    width: 18px;
}
.flag.ET {
    background-position: -18px -108px;
    height: 12px;
    width: 18px;
}
.flag.EU {
    background-position: 0 -108px;
    height: 12px;
    width: 18px;
}
.flag.FI {
    background-position: -144px -96px;
    height: 12px;
    width: 18px;
}
.flag.FJ {
    background-position: -126px -96px;
    height: 12px;
    width: 18px;
}
.flag.FO {
    background-position: -108px -96px;
    height: 12px;
    width: 18px;
}
.flag.FR {
    background-position: -90px -96px;
    height: 12px;
    width: 18px;
}
.flag.GA {
    background-position: -72px -96px;
    height: 12px;
    width: 18px;
}
.flag.GB {
    background-position: -54px -96px;
    height: 12px;
    width: 18px;
}
.flag.GE {
    background-position: -36px -96px;
    height: 12px;
    width: 18px;
}
.flag.GH {
    background-position: -18px -96px;
    height: 12px;
    width: 18px;
}
.flag.GL {
    background-position: 0 -96px;
    height: 12px;
    width: 18px;
}
.flag.GN {
    background-position: -144px -84px;
    height: 12px;
    width: 18px;
}
.flag.GR {
    background-position: -126px -84px;
    height: 12px;
    width: 18px;
}
.flag.GT {
    background-position: -108px -84px;
    height: 12px;
    width: 18px;
}
.flag.HK {
    background-position: -90px -84px;
    height: 12px;
    width: 18px;
}
.flag.HN {
    background-position: -72px -84px;
    height: 12px;
    width: 18px;
}
.flag.HR {
    background-position: -54px -84px;
    height: 12px;
    width: 18px;
}
.flag.HT {
    background-position: -36px -84px;
    height: 12px;
    width: 18px;
}
.flag.HU {
    background-position: -18px -84px;
    height: 12px;
    width: 18px;
}
.flag.ID {
    background-position: 0 -84px;
    height: 12px;
    width: 18px;
}
.flag.IE {
    background-position: -144px -72px;
    height: 12px;
    width: 18px;
}
.flag.IL {
    background-position: -126px -72px;
    height: 12px;
    width: 18px;
}
.flag.IN {
    background-position: -108px -72px;
    height: 12px;
    width: 18px;
}
.flag.IQ {
    background-position: -90px -72px;
    height: 12px;
    width: 18px;
}
.flag.IR {
    background-position: -72px -72px;
    height: 12px;
    width: 18px;
}
.flag.IS {
    background-position: -54px -72px;
    height: 12px;
    width: 18px;
}
.flag.IT {
    background-position: -36px -72px;
    height: 12px;
    width: 18px;
}
.flag.JM {
    background-position: -18px -72px;
    height: 12px;
    width: 18px;
}
.flag.JO {
    background-position: 0 -72px;
    height: 12px;
    width: 18px;
}
.flag.JP {
    background-position: -144px -60px;
    height: 12px;
    width: 18px;
}
.flag.KE {
    background-position: -126px -60px;
    height: 12px;
    width: 18px;
}
.flag.KG {
    background-position: -108px -60px;
    height: 12px;
    width: 18px;
}
.flag.KH {
    background-position: -90px -60px;
    height: 12px;
    width: 18px;
}
.flag.KI {
    background-position: -72px -60px;
    height: 12px;
    width: 18px;
}
.flag.KP {
    background-position: -54px -60px;
    height: 12px;
    width: 18px;
}
.flag.KR {
    background-position: -36px -60px;
    height: 12px;
    width: 18px;
}
.flag.KW {
    background-position: -18px -60px;
    height: 12px;
    width: 18px;
}
.flag.KZ {
    background-position: 0 -60px;
    height: 12px;
    width: 18px;
}
.flag.LA {
    background-position: -144px -48px;
    height: 12px;
    width: 18px;
}
.flag.LB {
    background-position: -126px -48px;
    height: 12px;
    width: 18px;
}
.flag.LI {
    background-position: -108px -48px;
    height: 12px;
    width: 18px;
}
.flag.LK {
    background-position: -90px -48px;
    height: 12px;
    width: 18px;
}
.flag.LT {
    background-position: -72px -48px;
    height: 12px;
    width: 18px;
}
.flag.LU {
    background-position: -54px -48px;
    height: 12px;
    width: 18px;
}
.flag.LV {
    background-position: -36px -48px;
    height: 12px;
    width: 18px;
}
.flag.LY {
    background-position: -18px -48px;
    height: 12px;
    width: 18px;
}
.flag.MA {
    background-position: 0 -48px;
    height: 12px;
    width: 18px;
}
.flag.MC {
    background-position: -144px -36px;
    height: 12px;
    width: 18px;
}
.flag.MD {
    background-position: -126px -36px;
    height: 12px;
    width: 18px;
}
.flag.ME {
    background-position: -108px -36px;
    height: 12px;
    width: 18px;
}
.flag.MG {
    background-position: -90px -36px;
    height: 12px;
    width: 18px;
}
.flag.MK {
    background-position: -72px -36px;
    height: 12px;
    width: 18px;
}
.flag.ML {
    background-position: -54px -36px;
    height: 12px;
    width: 18px;
}
.flag.MM {
    background-position: -36px -36px;
    height: 12px;
    width: 18px;
}
.flag.MN {
    background-position: -18px -36px;
    height: 12px;
    width: 18px;
}
.flag.MO {
    background-position: 0 -36px;
    height: 12px;
    width: 18px;
}
.flag.MR {
    background-position: -144px -24px;
    height: 12px;
    width: 18px;
}
.flag.MU {
    background-position: -126px -24px;
    height: 12px;
    width: 18px;
}
.flag.MV {
    background-position: -108px -24px;
    height: 12px;
    width: 18px;
}
.flag.MX {
    background-position: -90px -24px;
    height: 12px;
    width: 18px;
}
.flag.MY {
    background-position: -72px -24px;
    height: 12px;
    width: 18px;
}
.flag.MZ {
    background-position: -54px -24px;
    height: 12px;
    width: 18px;
}
.flag.NA {
    background-position: -36px -24px;
    height: 12px;
    width: 18px;
}
.flag.NL {
    background-position: -18px -24px;
    height: 12px;
    width: 18px;
}
.flag.NO {
    background-position: 0 -24px;
    height: 12px;
    width: 18px;
}
.flag.NP {
    background-position: -144px -12px;
    height: 12px;
    width: 18px;
}
.flag.NR {
    background-position: -126px -12px;
    height: 12px;
    width: 18px;
}
.flag.NZ {
    background-position: -108px -12px;
    height: 12px;
    width: 18px;
}
.flag.OM {
    background-position: -90px -12px;
    height: 12px;
    width: 18px;
}
.flag.Other {
    background-position: -72px -12px;
    height: 12px;
    width: 18px;
}
.flag.PA {
    background-position: -54px -12px;
    height: 12px;
    width: 18px;
}
.flag.PE {
    background-position: -36px -12px;
    height: 12px;
    width: 18px;
}
.flag.PH {
    background-position: -18px -12px;
    height: 12px;
    width: 18px;
}
.flag.PK {
    background-position: 0 -12px;
    height: 12px;
    width: 18px;
}
.flag.PL {
    background-position: -144px 0;
    height: 12px;
    width: 18px;
}
.flag.PM {
    background-position: -126px 0;
    height: 12px;
    width: 18px;
}
.flag.PN {
    background-position: -108px 0;
    height: 12px;
    width: 18px;
}
.flag.PR {
    background-position: -90px 0;
    height: 12px;
    width: 18px;
}
.flag.PT {
    background-position: -72px 0;
    height: 12px;
    width: 18px;
}
.flag.PY {
    background-position: -54px 0;
    height: 12px;
    width: 18px;
}
.flag.QA {
    background-position: -36px 0;
    height: 12px;
    width: 18px;
}
.flag.RO {
    background-position: -18px 0;
    height: 12px;
    width: 18px;
}
.flag.RS {
    background-position: 0 0;
    height: 12px;
    width: 18px;
}
.flag.TM {
    background-position: -54px -204px;
    height: 12px;
    width: 18px;
}
.flag.TJ {
    background-position: -72px -204px;
    height: 12px;
    width: 18px;
}
.flag.MT {
    background-position: -90px -204px;
    height: 12px;
    width: 18px;
}
.flag.XB {
    background-position: -108px -204px;
    height: 12px;
    width: 18px;
}