body a {
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}

#bg-sidebar {
	position: absolute;
	height: 100%;
	background: #3c1010;
	background: -webkit-linear-gradient(top, #3c1010, #080101);
	background: -o-linear-gradient(bottom, #3c1010, #080101);
	background: -moz-linear-gradient(bottom, #3c1010, #080101);
	background: linear-gradient(to bottom, #3c1010, #080101);
	top: 0;
	z-index: -1;
	left: 0;
}

#content-video header h4 {
	color: #e4dddd;
	font-size: 18px;
	display: inline-block;
	font-weight: bold;
}

.btn-like {
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
}

.btn-like:before {
	content: '';
	background-image: url('../imgs/like.png');
	width: 20px;
	height: 18px;
	display: block;
}

.btn-like:hover:before {
	content: '';
	background-image: url('../imgs/like.png');
	width: 20px;
	height: 18px;
	display: block;
	background-position: -25px 0;
}

#wrap-video {
	background: #000;
	position: relative;
	top: 10px;
}

#list-other-video ul {
	background: #000;
}

li.other-video {
	padding: 0;
}

li.other-video:hover {
	background: #0e0d0d;
}

li.other-video a img {
	vertical-align: middle;
}

li.other-video a .title-video {
	color: #d6d6d6;
}

li.other-video a .time-live {
	display: block;
	text-align: right;
	position: relative;
	color: #acd1ff;
	line-height: 30px;
	font-weight: bold;
}

li.other-video .logo-game {
	display: inline-block;
	width: 70px;
	text-align: center;
}

.live {
	color: #d69092;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	line-height: 30px;
}

.live:before {
	content: url(../imgs/live.png);
	width: 30px;
	height: 30px;
	position: absolute;
	right: 30px;
	top: 3px;
}
.live-left .live:before{
    top:-6px !important;
}

.viewer {
	color: #cacac9;
	position: relative;
	line-height: 30px;
}

.viewer:before {
	content: url(../imgs/icon-user.png);
	width: 15px;
	height: 14px;
	position: absolute;
	left: -20px;
	top: -6px;
}

.team-info-1 {
	display: inline-block;
}

#wrap-tab .list-match {
	margin-top: 10px;
}

#wrap-tab ul.tabs {
	border-bottom: 4px solid #be1e2d;
	background: #130404;
	color: #737272;
}

#wrap-tab ul.tabs .tab a {
	color: #737272;
	text-transform: uppercase;
}

#wrap-tab ul.tabs .tab a.active, #wrap-tab ul.tabs .tab a:hover {
	color: #cf4a3f;
	background: #3f0b0f;
}

ul.tabs.tab-demo .indicator {
	display: none;
}

.team1 .pull-left span {
	margin: 0 30px;
}

/* header-mobi */
header.hea-mobile.active {
	display: none;
}

/* SEARCH */
#warp-search {
	padding: 0;
	position: absolute;
	height: 40px;
	line-height: 45px;
	margin-left: 30px;
}

#warp-search #form-search {
	display: none;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}

#warp-search #search-math {
	margin: 0;
	border: 1px solid #ccc;
	height: 25px;
	line-height: 25px;
	border-radius: 20px;
	padding-left: 10px;
}

#warp-search #search-math:focus {
	box-shadow: 0 1px 0 0 #cf4a3f;
	border-color: #ccc;
}

#btn-search-match {
	border: none;
	background: transparent;
	line-height: 45px;
	position: absolute;
	right: 0;
}

#icon-search {
	position: absolute;
	top: 15px;
	right: 6px;
	cursor: pointer;
}

#btn-search-match:before {
	content: url('../imgs/icon-search.png');
	width: 15px;
	height: 15px;
}

#icon-search {
	background: url('../imgs/icon-search.png');
	width: 15px;
	height: 15px;
}
/*-=-==--===-=-=-=-=-=-update error pull-left=-=------=-=-=-=-===-=-=*/
.live-left {
	position: absolute;
	left: 15px;
}

.live-left {
	float: none;
	display: inline;
	text-align: right !important;
}

.team1 .live-left span {
	margin: 0 20px;
}

/*=============================CSS login============================*/
p#wrap-login {
	position: relative;
	display: inline-block;
}

#login {
	border-radius: 20px;
	background: #c8c7c6;
	color: #333333;
	position: absolute;
	top: -7px;
	left: 65px;
	width: 115px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0;
	background-color: #be1e2d;
	color: #fff;
}

#logout {
	border-radius: 20px;
	background: #c8c7c6;
	color: #333333;
	position: absolute;
	top: -7px;
	left: 190px;
	width: 115px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0;
	background-color: #be1e2d;
	color: #fff;
}
/*==================other scron======================*/
div#list-other-video {
	height: 350px;
	overflow: auto;
}

/*-------------------------drop downlish img gravata--------------------------------*/
img#gravatar:hover {
	cursor: pointer;
}

#dropdown1 {
	width: 185px !important;
	top: 75px !important;
	background-color: #be1e2d;
}

.dropdown-content li>a, .dropdown-content li>span {
	color: #fff !important;
	font-size: 14px;
}

#dropdown1 {
	overflow: initial;
}

#dropdown1:before {
	content: "\f0d8";
	color: #be1e2d;
	font-family: FontAwesome;
	position: absolute;
	top: -27px;
	font-size: 30px;
	left: 12px;
}

#dropdown1 .member:before {
	content: "\f007";
	font-family: FontAwesome;
	width: 15px;
	height: 15px;
	margin-right: 10px;
}

#dropdown1 .member:hover {
	color: #000000;
}

#dropdown1 .his-bet:before {
	content: "\f1da";
	font-family: FontAwesome;
	width: 15px !important;
	height: 15px !important;
	margin-right: 10px;
}

#dropdown1 .his-bet:hover {
	color: #000000 !important;
}

#dropdown1 .fa-sign-out:before {
	width: 15px !important;
	height: 15px !important;
	margin-right: 10px;
}

#dropdown1 .outing:hover {
	color: #000000;
}
/* game select */
.game-active {
	background-color: #7D0219;
}

li:hover, .dropdown-content li.active, .dropdown-content li.selected {
	background: none !important;
}