/*=====================================================Reponsive============================================================*/
@media only screen and (min-width: 1024px) and (max-width: 1224px) {
	/*--- Tablet landscape --- */
	p#wrap-login {
		display: none;
	}
	.item-match .hosted {
		color: #ccc;
		font-size: 10px;
		margin-left: 7px;
		position: absolute;
		margin-top: 6px;
	}
	li.other-video a .title-video {
		font-size: 11px;
	}
	li.other-video a .time-live {
		font-size: 12px;
	}
	/* header-mobi */
	header.hea-mobile.active {
		display: none;
	}
}/*--- end Tablet landscape --- */

@media only screen and (min-width: 800px) and (max-width: 1023px) {
	/*--- Small tablet landscape ---*/
	p#wrap-login {
		display: none;
	}
	/* header-mobi */
	header.hea-mobile.active {
		display: block;
		width: 100%;
		background-color: #3a0f13;
		z-index: 1000;
		height: 50px;
		position: relative;
	}
	.hea-mobile .logo-mobile {
		position: absolute;
		top: 12px;
		right: 45%;
		height: 25px;
		width: auto;
	}
	span.icon-menu {
		position: absolute;
		float: left;
		top: 7px;
		font-size: 25px;
		padding-left: 20px;
	}
	span.icon-menu img {
		display: block;
		height: 20px;
		width: 30px;
	}

	#sidebar.active {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
	#sidebar {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(-100%);
		height: 100%;
		position: fixed;
		left:   : 0;
		border-top: none;
		background: -webkit-linear-gradient(top, #1d0101, #080101);
		background: -o-linear-gradient(bottom, #1d0101, #080101);
		background: -moz-linear-gradient(bottom, #1d0101, #080101);
		background: linear-gradient(to bottom, #1d0101, #080101);
		-webkit-transition: all .3s ease-in-out 0s;
		-moz-transition: all .3s ease-in-out 0s;
		-ms-transition: all .3s ease-in-out 0s;
		-o-transition: all .3s ease-in-out 0s;
		transition: all .3s ease-in-out 0s;
		padding-top: 20px;
	}
	aside#sidebar {
		top: 50px;
	}
	li.action-chat {
		display: none;
	}
	i.fa.fa-comments {
		position: absolute;
		right: 0;
		top: 12px;
		font-size: 25px;
		padding-right: 20px;
	}
	li.action-chat {
		display: none !important;
	}
	aside#sidebar {
		z-index: 1000;
	}
	aside#box-chat {
		z-index: 1000;
	}
	/*******table********/

	table.matchs {
		border-collapse: separate;
		border-spacing: 0px 5px;
	}
	table.matchs tbody tr {
		/* display: block; */
		vertical-align: top;
		padding: 0;
	}
	table.matchs td {
		display: table-cell;
		height: 60px;
		width: 50%;
	}
	.item-match .hosted {
		margin-left: 75px;
		margin-right: 0px;
	}
	.tabs .tab {
		flex: 0 !important;
	}
	.tabs .tab a {
		padding: 0 30px;
	}

	/*update table*/
	.live-left {
		display: block;
		text-align: left;
		position: absolute;
		line-height: 30px;
		top: 30px;
	}
	.item-match .hosted {
		position: absolute;
		right: 0;
		bottom: 5px;
	}

	.team-info {
		margin-top: -15px;
		vertical-align: middle;
		line-height: 30px;
	}

	.team-info-1 {
		margin-top: -15px;
		vertical-align: middle;
		line-height: 30px;
	}

}/*--- Small tablet landscape ---*/

@media only screen and (min-width: 690px) and (max-width: 799px) {
	/*--- Tablet portrait ---*/
	img.responsive-img, video.responsive-video {
		display: none;
	}
	p#wrap-login {
		display: none;
	}
	/* header-mobi */
	header.hea-mobile.active {
		display: block;
		width: 100%;
		background-color: #3a0f13;
		z-index: 1000;
		height: 50px;
		position: relative;
	}
	.hea-mobile .logo-mobile {
		position: absolute;
		top: 12px;
		right: 45%;
		height: 25px;
		width: auto;
	}
	span.icon-menu {
		position: absolute;
		float: left;
		top: 7px;
		font-size: 25px;
		padding-left: 20px;
	}
	span.icon-menu img {
		display: block;
		height: 20px;
		width: 30px;
	}

	#sidebar.active {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
	#sidebar {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(-100%);
		height: 100%;
		position: fixed;
		left:   : 0;
		border-top: none;
		background: -webkit-linear-gradient(top, #1d0101, #080101);
		background: -o-linear-gradient(bottom, #1d0101, #080101);
		background: -moz-linear-gradient(bottom, #1d0101, #080101);
		background: linear-gradient(to bottom, #1d0101, #080101);
		-webkit-transition: all .3s ease-in-out 0s;
		-moz-transition: all .3s ease-in-out 0s;
		-ms-transition: all .3s ease-in-out 0s;
		-o-transition: all .3s ease-in-out 0s;
		transition: all .3s ease-in-out 0s;
		padding-top: 20px;
	}
	aside#sidebar {
		top: 50px;
	}
	li.action-chat {
		display: none;
	}
	i.fa.fa-comments {
		position: absolute;
		right: 0;
		top: 12px;
		font-size: 25px;
		padding-right: 20px;
	}
	li.action-chat {
		display: none !important;
	}
	aside#sidebar {
		z-index: 1000;
	}
	aside#box-chat {
		z-index: 1000;
	}
	/*******table********/

	table.matchs {
		border-collapse: separate;
		border-spacing: 0px 5px;
	}
	table.matchs tbody tr {
		display: block;
		vertical-align: top;
		padding: 0;
	}
	table.matchs td {
		display: table-cell;
		height: 60px;
		width: 28%;
	}
	.item-match .hosted {
		margin-left: 20px;
		margin-right: 0px;
		height: 30px;
		line-height: 30px;
	}
	.tabs .tab {
		flex: 0 !important;
	}
	.tabs .tab a {
		padding: 0 20px;
	}
	/*** other video ***/
	li.other-video a .title-video {
		font-size: 12px;
	}
	li.other-video a img {
		height: auto;
		width: 55px;
	}

	/* row thang hang*/
	.live-left {
		height: 30px;
		line-height: 30px;
		position: relative;
	}
	span.team-name {
		height: 30px;
		line-height: 30px;
	}
	span.team-logo {
		height: 30px;
		line-height: 30px;
	}
	.team1 .percent {
		line-height: 30px;
		height: 30px;
	}
	/*update table*/
	table.matchs td {
		height: 60px;
	}
	.live-left {
		display: block;
		text-align: left;
		position: absolute;
		line-height: 30px;
		top: 25px;
	}
	.item-match .hosted {
		position: absolute;
		right: 0;
		bottom: 5px;
	}

	.team-info {
		margin-top: -18px;
		vertical-align: middle;
		line-height: 30px;
	}

	.team-info-1 {
		margin-top: -22px;
		vertical-align: middle;
		line-height: 30px;
	}
	.time-live:before {
		top: 1px;
	}
	.live-left .live:before {
		top: -4px;
	}
	li.other-video a .time-live {
		font-size: 12px;
	}

}/*--- Tablet portrait ---*/
@media only screen and (min-width: 595px) and (max-width: 689px) {
	/*--- Small tablet portrait ---*/
	img.responsive-img, video.responsive-video {
		display: none;
	}
	.live-left {
		height: 30px;
		line-height: 30px;
		position: relative;
	}
	span.team-name {
		height: 30px;
		line-height: 30px;
	}
	span.team-logo {
		height: 30px;
		line-height: 30px;
	}
	.team1 .percent {
		line-height: 30px;
		height: 30px;
	}

	p#wrap-login {
		display: none;
	}
	/* header-mobi */
	header.hea-mobile.active {
		display: block;
		width: 100%;
		background-color: #3a0f13;
		z-index: 1000;
		height: 50px;
		position: relative;
	}
	.hea-mobile .logo-mobile {
		position: absolute;
		top: 12px;
		right: 45%;
		height: 25px;
		width: auto;
	}
	span.icon-menu {
		position: absolute;
		float: left;
		top: 7px;
		font-size: 25px;
		padding-left: 20px;
	}
	span.icon-menu img {
		display: block;
		height: 20px;
		width: 30px;
	}

	#sidebar.active {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
	#sidebar {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(-100%);
		height: 100%;
		position: fixed;
		left:   : 0;
		border-top: none;
		background: -webkit-linear-gradient(top, #1d0101, #080101);
		background: -o-linear-gradient(bottom, #1d0101, #080101);
		background: -moz-linear-gradient(bottom, #1d0101, #080101);
		background: linear-gradient(to bottom, #1d0101, #080101);
		-webkit-transition: all .3s ease-in-out 0s;
		-moz-transition: all .3s ease-in-out 0s;
		-ms-transition: all .3s ease-in-out 0s;
		-o-transition: all .3s ease-in-out 0s;
		transition: all .3s ease-in-out 0s;
		padding-top: 20px;
	}
	aside#sidebar {
		top: 50px;
	}
	li.action-chat {
		display: none;
	}
	i.fa.fa-comments {
		position: absolute;
		right: 0;
		top: 12px;
		font-size: 25px;
		padding-right: 20px;
	}
	li.action-chat {
		display: none !important;
	}
	aside#sidebar {
		z-index: 1000;
	}
	aside#box-chat {
		z-index: 1000;
	}

	#content-video header h4 {
		font-size: 20px;
	}

	/*******table********/

	table.matchs {
		border-collapse: separate;
		border-spacing: 0px 5px;
	}
	table.matchs tbody tr {
		display: block;
		vertical-align: top;
		padding: 0;
	}
	table.matchs td {
		display: table-cell;
		height: 60px;
		width: 31%;
	}
	.item-match .hosted {
		margin-left: 15px;
		margin-right: 0px;
		font-size: 10px;
		height: 30px;
		line-height: 30px;
	}
	.item-match .team-logo img {
		width: 15px;
		height: 15px;
	}
	.team2 .percent {
		margin-left: 5px;
		vertical-align: middle;
	}

	.tabs .tab {
		flex: 0 !important;
	}
	.tabs .tab a {
		padding: 0 8px;
	}
	/*** other video ***/
	li.other-video a .title-video {
		font-size: 12px;
	}
	li.other-video a img {
		height: auto;
		width: 45px;
	}
	#dropdown1 {
		top: 125px !important;
	}

	/*update table*/
	table.matchs td {
		height: 60px;
	}
	.live-left {
		display: block;
		text-align: left;
		position: absolute;
		line-height: 30px;
		top: 30px;
	}
	.item-match .hosted {
		position: absolute;
		right: 0;
		bottom: 0px;
	}

	.team-info {
		margin-top: -20px;
		vertical-align: middle;
		line-height: 30px;
	}

	.team-info-1 {
		margin-top: -22px;
		vertical-align: middle;
		line-height: 30px;
	}
	.time-live:before {
		top: 1px;
		right: 20px;
	}
	.live-left .live:before {
		top: -4px;
	}
	li.other-video a .time-live {
		font-size: 12px;
	}

}/*--- Small tablet portrait ---*/

@media only screen and (min-width: 480px) and (max-width: 594px) {
	/*--- Small tablet portrait ---*/
	header#wrap-user {
		position: relative;
		top: -7px;
	}

	img.responsive-img, video.responsive-video {
		display: none;
	}
	#user-name {
		line-height: 50px;
		font-size: 20px;
		padding-left: 10px;
	}
	.coins {
		margin-left: 10px;
		min-width: 170px;
	}

	.live-left {
		height: 30px;
		line-height: 30px;
		position: relative;
	}
	span.team-name {
		height: 30px;
		line-height: 30px;
		font-size: 10px;
	}
	.live:before {
		right: 16px;
		top: -8px;
	}
	.time-live:before {
		right: 16px;
		top: 0px;
	}

	#content-video header h4 {
		font-size: 28px;
	}
	li.other-video a .time-live {
		font-size: 12px;
	}

	.team1 .live-left span {
		margin: 0 15px;
		font-size: 10px;
	}

	span.team-logo {
		height: 30px;
		line-height: 30px;
	}
	.team1 .percent {
		line-height: 30px;
		height: 30px;
	}

	p#wrap-login {
		display: none;
	}
	/* header-mobi */
	header.hea-mobile.active {
		display: block;
		width: 100%;
		background-color: #3a0f13;
		z-index: 1000;
		height: 50px;
		position: relative;
	}
	.hea-mobile .logo-mobile {
		position: absolute;
		top: 12px;
		right: 40%;
		height: 25px;
		width: auto;
	}
	span.icon-menu {
		position: absolute;
		float: left;
		top: 7px;
		font-size: 25px;
		padding-left: 20px;
	}
	span.icon-menu img {
		display: block;
		height: 20px;
		width: 30px;
	}

	#sidebar.active {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
	#sidebar {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(-100%);
		height: 100%;
		position: fixed;
		left:   : 0;
		border-top: none;
		background: -webkit-linear-gradient(top, #1d0101, #080101);
		background: -o-linear-gradient(bottom, #1d0101, #080101);
		background: -moz-linear-gradient(bottom, #1d0101, #080101);
		background: linear-gradient(to bottom, #1d0101, #080101);
		-webkit-transition: all .3s ease-in-out 0s;
		-moz-transition: all .3s ease-in-out 0s;
		-ms-transition: all .3s ease-in-out 0s;
		-o-transition: all .3s ease-in-out 0s;
		transition: all .3s ease-in-out 0s;
		padding-top: 20px;
	}
	aside#sidebar {
		top: 50px;
	}
	li.action-chat {
		display: none;
	}
	i.fa.fa-comments {
		position: absolute;
		right: 0;
		top: 12px;
		font-size: 25px;
		padding-right: 20px;
	}
	li.action-chat {
		display: none !important;
	}
	aside#sidebar {
		z-index: 1000;
	}
	aside#box-chat {
		z-index: 1000;
	}

	/*******table********/
	h2.game-name {
		font-size: 18px;
	}
	table.matchs {
		border-collapse: separate;
		border-spacing: 0px 5px;
	}
	table.matchs tbody tr {
		display: block;
		vertical-align: top;
		padding: 0;
	}
	table.matchs td {
		display: table-cell;
		height: 60px;
		width: 31%;
	}
	.item-match .hosted {
		margin-left: 5px;
		margin-right: 0px;
		font-size: 10px;
		height: 30px;
		line-height: 30px;
	}
	.item-match .team-logo {
		margin: 0 5px;
	}
	.item-match .hosted, .item-match .btn-host {
		float: none;
	}
	.live-left {
		left: 0;
	}
	.item-match .team-logo img {
		width: 15px;
		height: 15px;
	}
	.team2 .percent {
		margin-left: 5px;
		vertical-align: middle;
	}

	.tabs .tab a {
		font-size: 9px;
	}
	.tabs .tab {
		flex: 0 !important;
	}
	.tabs .tab a {
		padding: 0 7px;
	}
	/*** other video ***/
	li.other-video a .title-video {
		font-size: 15px;
	}
	li.other-video a img {
		height: auto;
		width: 40px;
	}
	#dropdown1 {
		top: 55px !important;
	}
	div#list-other-video {
		width: 100%;
	}

	/*update table*/
	table.matchs td {
		height: 60px;
	}
	.live-left {
		display: block;
		text-align: left;
		position: absolute;
		line-height: 30px;
		top: 30px;
	}
	.item-match .hosted {
		position: absolute;
		right: 0;
		bottom: -1px;
	}

	.team-info {
		margin-top: -20px;
		vertical-align: middle;
		line-height: 30px;
	}

	.team-info-1 {
		margin-top: -22px;
		vertical-align: middle;
		line-height: 30px;
	}
}/*--- Mobile landscape ---*/

@media only screen and (min-width: 320px) and (max-width: 479px) {
	/*--- Mobile portrait ---*/
	header#wrap-user {
		position: relative;
		top: -7px;
	}

	img.responsive-img, video.responsive-video {
		display: none;
	}
	#user-name {
		line-height: 50px;
		font-size: 20px;
		padding-left: 10px;
	}
	.coins {
		margin-left: 10px;
		min-width: 170px;
	}

	.live-left {
		height: 30px;
		line-height: 30px;
		position: relative;
	}
	span.team-name {
		height: 30px;
		line-height: 30px;
		font-size: 10px;
	}
	.live:before {
		right: 16px;
		top: -8px;
	}
	.time-live:before {
		right: 20px;
		top: 0px;
	}
	.team1 .live-left span {
		margin: 0 15px;
		font-size: 10px;
	}
	span.time-live.live {
		font-size: 11px;
	}
	span.time-live {
		font-size: 11px;
	}
	span.team-logo {
		height: 30px;
		line-height: 30px;
	}
	.team1 .percent {
		line-height: 30px;
		height: 30px;
	}

	p#wrap-login {
		display: none;
	}

	/* header-mobi */
	header.hea-mobile.active {
		display: block;
		width: 100%;
		background-color: #3a0f13;
		z-index: 1000;
		height: 50px;
		position: relative;
	}
	.hea-mobile .logo-mobile {
		top: 14px;
		right: 50%;
		height: 22px;
		position: absolute;
		margin-right: -50px;
	}
	span.icon-menu {
		position: absolute;
		float: left;
		top: 7px;
		font-size: 25px;
		padding-left: 20px;
	}
	span.icon-menu img {
		display: block;
		height: 20px;
		width: 30px;
	}
	#wrap-coins {
		position: relative;
		display: block;
		margin: 0 auto;
	}
	#nav-action {
		right: 5px;
		top: 0;
		position: absolute;
	}
	#wrap-gavatar {
		width: 45px;
		height: 45px;
	}
	#gravatar {
		width: 35px;
		height: 35px;
		border-radius: 50%;
	}
	#sidebar.active {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
	#sidebar {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(-100%);
		height: 100%;
		position: fixed;
		left:   : 0;
		border-top: none;
		background: -webkit-linear-gradient(top, #1d0101, #080101);
		background: -o-linear-gradient(bottom, #1d0101, #080101);
		background: -moz-linear-gradient(bottom, #1d0101, #080101);
		background: linear-gradient(to bottom, #1d0101, #080101);
		-webkit-transition: all .3s ease-in-out 0s;
		-moz-transition: all .3s ease-in-out 0s;
		-ms-transition: all .3s ease-in-out 0s;
		-o-transition: all .3s ease-in-out 0s;
		transition: all .3s ease-in-out 0s;
		padding-top: 20px;
	}
	aside#sidebar {
		top: 50px;
	}
	li.action-chat {
		display: none;
	}
	i.fa.fa-comments {
		position: absolute;
		right: 0;
		top: 12px;
		font-size: 25px;
		padding-right: 20px;
	}
	li.action-chat {
		display: none !important;
	}
	aside#sidebar {
		z-index: 1000;
	}
	aside#box-chat {
		z-index: 1000;
	}

	#content-video header h4 {
		font-size: 18px;
	}
	/* ---------action chat--------*/
	#warp-search #search-math:focus {
		box-shadow: 0 1px 0 0 #cf4a3f;
		border-color: #130404;
		color: #fff;
	}
	#warp-search {
		margin-left: -135px;
	}
	#icon-search {
		margin-right: -160px !important;
	}
	#warp-search #search-math {
		background: #3f0b0f;
	}

	/*******table********/
	h2.game-name {
		font-size: 18px;
	}
	table.matchs {
		border-collapse: separate;
		border-spacing: 0px 5px;
	}
	table.matchs tbody tr {
		display: block;
		vertical-align: top;
		padding: 0;
	}
	table.matchs td {
		display: table-cell;
		height: 60px;
		width: 50%;
	}
	.item-match .hosted {
		margin-left: 5px;
		margin-right: 0px;
		font-size: 10px;
		height: 30px;
		line-height: 30px;
	}
	.item-match .hosted {
		position: absolute;
		right: 0;
		bottom: -1px;
	}
	.item-match .team-logo {
		margin: 0 5px;
	}
	.item-match .hosted, .item-match .btn-host {
		float: none;
	}
	.live-left {
		display: block;
		text-align: left;
		position: absolute;
		line-height: 30px;
		top: 30px;
	}
	.item-match .team-logo img {
		width: 15px;
		height: 15px;
	}
	.team2 .percent {
		margin-left: 5px;
		vertical-align: middle;
		margin-top: -20px;
	}
	.tabs .tab a {
		font-size: 9px !important;
	}
	.tabs .tab {
		flex: 0 !important;
	}
	.tabs .tab a {
		padding: 0 7px !important;
	}
	/*** other video ***/
	li.other-video a .title-video {
		font-size: 12px;
	}
	li.other-video a img {
		height: auto;
		width: 40px;
	}
	#dropdown1 {
		top: 55px !important;
	}
	div#list-other-video {
		width: 100%;
	}

	.team-info {
		margin-top: -12px;
		vertical-align: middle;
		line-height: 30px;
	}

	.team-info-1 {
		margin-top: -12px;
		vertical-align: middle;
		line-height: 30px;
	}
	span.team-name {
		margin: 0;
		display: inline-block;
		text-overflow: clip;
		overflow: hidden;
		width: 57px;
		white-space: nowrap;
		padding: 0;
	}

	.team1 .percent {
		margin-top: -20px;
		margin-right: 5px !important;
	}
}