/*============================ modal ============================*/
#modal-host {
    background: #070809;
    border: #be1e2d 1px solid;
    height:480px;
}

#modal-host .modal-content {
    margin: 0 !important;
    padding: 0 !important;
    overflow: inherit;
}

.modal .modal-content h2 {
    font-size: 25px;
    text-align: center;
    padding: 15px;
}

.modal .modal-content h2 {
    background: #070809; /* Old browsers */
    background: -moz-linear-gradient(left, #070809 0%, #165983 42%, #165983 60%, #070809
        100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #070809 0%, #165983 42%, #165983 60%,
        #070809 100%, #7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #070809 0%, #165983 42%, #165983 60%, #070809
        100%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070809',
        endColorstr='#7db9e8', GradientType=1); /* IE6-9 */
}
#link {
    height: 30px;
    margin-bottom: 5px;
}
#close-btn {
    background: transparent;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal-content p.team {
    text-align: center;
    font-size: 25px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.modal-content .host {
    font-size: 18px;
    text-align: center;
    padding: 0;
    margin-top: 5px;
    color: #b7b7b7;
}
.modal-content .host strong{
    color: #fff;
}
.total-team1{
    text-align: center;
    color: #ffca8b;
    font-size: 18px;
    margin: 0;
}
.total-team2{
    text-align: center;
    color: #00b5ff;
    font-size: 18px;
    margin: 0;
}
p.team-win{
    text-align: center;
    font-size: 16px;
    color: #ffca8b;
    font-weight: bold;
}
.btn-win {
    border: 1px solid #be1e2d;
    border-radius: 20px;
    width: 225px;
    color: #ccc;
    line-height: 23px;
    background: transparent;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 10px;
}
.btn-win{
    background: #3e0f14; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3e0f14, #0f080a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3e0f14, #0f080a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3e0f14, #0f080a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3e0f14, #0f080a); /* Standard syntax */
}
.btn-win{
    
}
/*=============================CSS login============================*/
p#wrap-login {
    position: relative;
    display: inline-block;
}
 #login {
    border-radius: 20px;
    background: #c8c7c6;
    color: #333333;
    position: absolute;
    top: -7px;
    left:  65px;
    width: 115px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    background-color: #be1e2d;
    color: #fff;
}
 #logout {
    border-radius: 20px;
    background: #c8c7c6;
    color: #333333;
    position: absolute;
    top: -7px;
    left: 190px;
    width: 115px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    background-color: #be1e2d;
    color: #fff;
}